{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %} AdnBlog | Post Details {% endblock %}


{% block message %}
{% if messages %}
{% for message in messages %}
<div class="text-center py-3 alert pt-3 alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close text-primary" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <h2>{{post.title}}</h2>
        <h4>Posted by: @{{post.author}}</h4>
        <i>
            <h6> Publish on: {{post.publish_date}}</h6>
        </i>
        <i>
            <h6>Updated On:{{post.update_date}}</h6>
        </i>

    </div>
    <div class="col-sm-6">
        <div class="card img-card card-block">
            <img src="{{post.image.url}}" alt="" class="card-img-top">
        </div>

    </div>
    <div class="description mt-3">
        <p class="" align="justify">
            {{post.description}}
        </p>
        {% if flag %}
        <div class="post-delete-btn" align="center">
            <a href="{% url 'delete_post' slug=post.slug %}" type="button" class="btn btn-sm btn-outline-danger shadow">Delete</a>
        </div>
        {% endif %}
    </div>
    <div class="comment-section mt-3">
        {% if user.is_authenticated %}
        <h4>Comment Box</h4>

        <form action="" method="POST">
            {% csrf_token %}
            {{comment_form|crispy}}
            <button type="submit" class="btn btn-md btn-primary shadow mt-3 w-25 float-end">Submit</button>
        </form>
        {% else %}
        <h4>Comment Box <span class="ms-2 text-danger">*(“You must be logged in to post a comment”)</span></h4>
        <textarea class="form-control" disabled rows="3"></textarea>
        {% endif %}

    </div>

</div>
{% endblock %}