
<nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
    <div class="container">
      <a class="navbar-brand" href="#">Adn Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item me-2">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          
          {% if user.is_authenticated %}
          <li class="nav-item me-2">
            <a class="nav-link" href="{% url 'post_create' %}">Add new Post</a>
          </li>
          <li class="nav-item dropdown me-2">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{user.username}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item text-center text-primary"  type="button"  href="{% url 'logout_user' %}">Logout</a></li> 
            </ul>
          </li>
          {% else %}
          <li class="nav-item  me-2">
            <a class="nav-link btn btn-sm btn-primary text-white" type="button" href="{% url 'login_page' %}">Login for Add New Post</a>
          </li>
          <li class="nav-item  me-2">
            <a class="nav-link btn btn-sm btn-outline-secondary" type="button" href="{% url 'sign_up' %}">Sign Up</a>
          </li>
          {% endif %}
        </ul>
       
      </div>
    </div>
  </nav>